[user]
	name = Eungkyu Song
	email = eungkyu@tmon.co.kr
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	bm = branch --merged
	bn = branch --no-merged
	ba = branch-annotate
	sh = stash
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	pager = less -x5,9
[branch]
	autosetuprebase = always
